@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  background-color: #f0f0f0;
  font-family: "Inter", sans-serif;
}

.space-16 {
  height: 16px;
}

.space-32 {
  height: 32px;
}

.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 32px;
}

.introduction img {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  object-fit: cover;
}

.layout {
  width: 640px;
  margin: 0 auto;
}

.block {
  padding: 32px;
  background-color: #ffffff;
}

.block-item {
  display: flex;
  margin-top: 16px;
}

.block-left {
  display: flex;
  justify-content: center;
  width: 96px;
  height: 96px;
  margin-right: 16px;
}

.block-left img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.block-right {
  display: flex;
  flex-direction: column;
  width: 75%;
}

@media screen and (max-width: 480px) {}